*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-size: Helvetica;
}


/* Cabeçalho */

header{
    background-color: rgb(63, 30, 66);
    color: #FFF;
    padding: 15px;
    text-align: center;
    border-bottom: 3px solid rgb(212, 158, 208);
}

/* Grid de Campeões */

.container{
    background-color: rgb(223, 223, 223);
    min-height: 60vh;
    padding: 50px;

}
.products-container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.card{
    width: 95%;
    margin: 1% 1%;
    display: inline-block;
    padding: 15px;
}

.product-image{
    height: 700px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
}

#img-1{
    background-image: url("../img/champ\ 2.jpg") ;
}

#img-2{
    background-image: url("../img/Champ1.jpg") ;
}

#img-3{
    background-image: url("../img/champ3.jpg") ;
}

#img-4{
    background-image: url("../img/champ4.jpg") ;
}

#img-5{
    background-image: url("../img/champ5.jpg") ;
}

#img-6{
    background-image: url("../img/champ6.jpg") ;
}

h3{
    margin-bottom: 10x;
    font-size: 24px;
    color: rgb(63, 30, 66);
    text-align: center;
    text-transform: uppercase;
}

.card p{
    margin-bottom: 10px;
}

.bold{
    font-weight: bold;
    text-align: center;
}

.btn {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(212, 158, 208);
    color: #fff;
    padding: 15px;
    border-radius: 5px;
  }
  
.btn:hover {
    background-color: rgb(63, 30, 66);
  }
  

/* Rodapé */

footer{
    background-color: rgb(63, 30, 66);
    color: #FFF;
    border-top: 3px solid rgb(212, 158, 208);
    text-align: center;
    padding: 40px;
}